<div id="main-content">
  <div class="tab-head">
    <ul class="tab-headers">
      <li class="tab-header">Tab 1</li>
      <li class="tab-header">Tab 2</li>
      <li class="tab-header">Tab 3</li>
    </ul>
  </div>
  <div class="tab-content">
    <h1>Tab content</h1>
    <p>Blah blah blah</p>
    <p>Blah blah blah</p>
    <p>Blah blah blah</p>
    <p>Blah blah blah</p>
    <p>Blah blah blah</p>
  </div>
</div>
